<div>
    <!--{{error}}-->
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="genre in genres">
                <td data-ng-bind="genre.GenreId"></td>
                <td data-ng-bind="genre.Name"></td>
                <td><button data-ng-click="RemoveGenre(genre)" class="btn">Delete</button></td>
                <td><a href="#/EditGenre/{{genre.GenreId}}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>

